@font-face {
    font-family: 'YehudaCLM';
    src: url("../../../assets/yehuda/yehudaclm-bold-webfont.woff") format('woff'),
         url("../../../assets/yehuda/yehudaclm-light-webfont.woff") format('woff');
    font-weight: bold; 
    font-style: normal; 
}

@font-face {
    font-family: 'YehudaCLM';
    src: url("../../../assets/yehuda/yehudaclm-light-webfont.woff") format('woff');
    font-weight: normal; 
    font-style: normal; 
}



/* הגדרת הקונטיינר עם תמונת רקע */
.background-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.background-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/toDoIlustration.jpg');
    background-size: cover;
    background-position: center;
    opacity: 8%;
    z-index: -1; 
}


.container {
    position: relatכive;
    height: 100vh;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    z-index: 1; 
    font-family: 'YehudaCLM', sans-serif;
    
}


.completed {
    text-decoration: line-through;
}

input {
    direction: rtl; 
    text-align: right; 
    padding-right: 50px; 
    box-sizing: border-box; 
    margin-left: 10px;
}

.date{
    display: flexbox; 
    justify-content: space-between; 
    align-items: center; 
    text-align: end; 
}


/* קונטיינר שמקבל את המסגרת רק אם יש משימות */
ul.task-list {
    list-style-type: none;
    padding: 10px;
    border: 1px solid lightgray; 
    border-radius: 5px; 
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px 0; 
    width: fit-content; 
    text-align: right; 
    margin-left: auto; 
    direction: rtl; 


/* מסתירים את הקונטיינר לפני שיש משימות */
    &:ul.task-list.empty {
    border: none;
    background: none;
    padding: 0;
    }
}


li {
    display: flex;
    justify-content: flex-start;
    padding: 5px; 
    border-bottom: 1px solid lightgray;
    width: calc(100% - 20px); /* רוחב פחות מ-100% כדי לאפשר רווח */
    margin: 0 auto; /* ממקם את ה-li במרכז */ 
    text-align: right; 
    direction: rtl; 
/* אין גבול לפריט האחרון */
    &:last-child {
    border-bottom: none;
    }
}

.remove-button {
    background: none; 
    border: none; 
    color: darkgray;
    font-size: 7px; 
    cursor: pointer; 
    padding: 0; 
    margin-right: 15px; 

    &:hover {
        color: red; 
    }
}

.list-button {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    text-align: right; 
    margin-top: 10px; 

}

.list-button button {
    font-size: 0.5rem; 
    padding: 3px 6px; 
    border: none; 
    cursor: pointer; 
    margin-left: 5px; 
    border-radius: 5%;
}

.archive-drop-button:hover {
    color: red;
 
}

.clear-list-button:hover {
    color: red;

}

.archive-button {

        display: flex; 
        justify-content: flex-end; 
        align-items: center; 
        text-align: right; 
        margin-top: 10px; 
        background-color: darkgray;
        border-radius: 8%;
        color: whitesmoke;
}

.archive-button:hover{
    color: black;
    background-color: white;
    

}